@import "tailwindcss";
@import "tw-animate-css";

/* ====== Variables y estilos base ====== */
@layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: #020617;
    /* zinc-950 */
    color: #e5e7eb;
    /* zinc-200 aprox */
    font-family: "Inter", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}


/* ====== Utilidades personalizadas ====== */
@layer utilities {
  .card {
    @apply bg-white dark:bg-zinc-800 rounded-xl shadow-md p-6 transition-all duration-300;
  }

  .title {
    @apply text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100;
  }

  .btn-primary {
    @apply px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md;
  }
}